.screen {
    width: 350px;
    height: 750px;
    border: solid;
    position: relative;
    left: 650px;
    top: 70px;
}

#symbolsList {
    visibility: visible;
    width: 300px;
    height: 400px;
    border: solid;
    position: absolute;
    left: 675px;
    top: 95px;
    overflow-y: scroll;
    font-size: 50px;
    text-align: center;
}

#nextButton {
    background-color: #005A9C;
    color: white;
    font-size: 20px;
    width: 150px;
    height: 50px;
    position: absolute;
    left: 95px;
    top: 450px;
}

#goResetButton {
    background-color: white;
    color: green;
    font-size: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: 650px;
    left: 250px;
}

#topText {
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}

#numberSymbol {
    text-align: center;
    padding-top: 50px;
    font-size: 200px;
}

#bottomText {
    text-align: center;
    padding-top: 175px;
    font-size: 25px;
}

.navigation {
    width: 350px;
    height: 100px;
    position: absolute;
    left: 650px;
    top: 820px;
}

#homeButton {
    background-image: url('houseicon.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    position: absolute;
    top: 820x;
    left: 50px;
}
#forwardButton {
    background-image: url('forwardArrow.png');
    background-size: cover;
    width: 37px;
    height: 37px;
    border: none;
    position: absolute;
    top: 10px;
    left: 250px;
}
#backwardButton {
    background-image: url('backwardArrow.png');
    background-size: cover;
    width: 37px;
    height: 37px;
    border: none;
    position: absolute;
    top: 10px;
    left: 125px;
}
#pageNumber {
    width: 90px;
    height: 37px;
    position: absolute;
    top: 10px;
    left: 160px;
    background-color: white;
    border: none;
    color: black;
    font-size: 20px;
}